**/bin
**/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
[Bb]uild/
NullRAT Workspace.code-workspace
dependencies/.vscode/launch.json
dependencies/.vscode/tasks.json
